<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0Ltdo-NFdoI5_CID56l1dCdW0o-2t7yg</string>
	<key>GCM_SENDER_ID</key>
	<string>967832817568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alomforce.alomforcePhone</string>
	<key>PROJECT_ID</key>
	<string>alomforce</string>
	<key>STORAGE_BUCKET</key>
	<string>alomforce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967832817568:ios:c7caa6d44cba7fac869ec5</string>
</dict>
</plist>